# IDEs and editors
.vscode/
.idea/
.cache/
.run/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
rsa_accumulator

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# pprof
*.pprof

# log files
*.log

# SNAKR public/verification keys
*.save
*.pk
*.vk